In [1]:
import pandas as pd
df = pd.read_csv('P7.csv')
df.dropna(inplace=True)
# df.tail()

C:\Users\chara\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
df.shape

(5123, 10)

In [3]:
df.describe()

          Latitude    Longitude
count  5123.000000  5123.000000
mean     26.864210    81.023366
std       0.055303     0.090102
min      25.423000    77.458000
25%      26.850000    81.005000
50%      26.864000    81.021000
75%      26.877000    81.041000
max      29.290000    83.725000

In [13]:
# creating a day column which stores date and time in datetime fomat
df['day'] =pd.to_datetime(df['Create Date/Time'],dayfirst=True)
df['day'].head()

0   2021-04-01 00:00:00
1   2021-04-01 12:09:00
2   2021-04-01 12:51:00
3   2021-04-01 13:10:00
4   2021-04-01 13:18:00
Name: day, dtype: datetime64[ns]

In [5]:
# converting to datetime format to hold yearfirst value
# df['prop_date']=pd.to_datetime(df['day']).pd.strftime('%m/%d/%Y')
df['day']=pd.to_datetime(df['day'],yearfirst=True)

df.head()

,District,Event,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude,day
0,LUCKNOW,P01042100004,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,01-04-2021 00:00:00,26.834,81.008,2021-04-01 00:00:00
1,LUCKNOW,P01042104316,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 12:09:00,26.828,81.014,2021-04-01 12:09:00
2,LUCKNOW,P01042104847,C1,PS1,PHONE,Dispute,Dispute In Hospital,01-04-2021 12:51:00,26.840,81.009,2021-04-01 12:51:00
3,LUCKNOW,P01042105074,C1,PS1,PHONE,Gambling,Play Cards,01-04-2021 13:10:00,26.828,81.002,2021-04-01 13:10:00
4,LUCKNOW,P01042105152,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 13:18:00,26.834,81.033,2021-04-01 13:18:00

In [15]:
# getting the time from the date time we've been given 
new_df = pd.read_csv('P7.csv')
new_df.dropna(inplace=True)

df['Create Date/Time']=new_df['Create Date/Time']
df['Time']=pd.to_datetime(df['Create Date/Time']).dt.time
df.head()

,District,Event,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude,day,Time,Prop_date,month
0,LUCKNOW,P01042100004,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,01-04-2021 00:00:00,26.834,81.008,2021-04-01 00:00:00,00:00:00,01/04/2021,04
1,LUCKNOW,P01042104316,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 12:09:00,26.828,81.014,2021-04-01 12:09:00,12:09:00,01/04/2021,04
2,LUCKNOW,P01042104847,C1,PS1,PHONE,Dispute,Dispute In Hospital,01-04-2021 12:51:00,26.840,81.009,2021-04-01 12:51:00,12:51:00,01/04/2021,04
3,LUCKNOW,P01042105074,C1,PS1,PHONE,Gambling,Play Cards,01-04-2021 13:10:00,26.828,81.002,2021-04-01 13:10:00,13:10:00,01/04/2021,04
4,LUCKNOW,P01042105152,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 13:18:00,26.834,81.033,2021-04-01 13:18:00,13:18:00,01/04/2021,04

In [16]:
# reading date,month and year values from the date and storing in Prop_date column
df['Prop_date']=(df['day']).dt.strftime('%d/%m/%Y')
df.head()

,District,Event,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude,day,Time,Prop_date,month
0,LUCKNOW,P01042100004,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,01-04-2021 00:00:00,26.834,81.008,2021-04-01 00:00:00,00:00:00,01/04/2021,04
1,LUCKNOW,P01042104316,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 12:09:00,26.828,81.014,2021-04-01 12:09:00,12:09:00,01/04/2021,04
2,LUCKNOW,P01042104847,C1,PS1,PHONE,Dispute,Dispute In Hospital,01-04-2021 12:51:00,26.840,81.009,2021-04-01 12:51:00,12:51:00,01/04/2021,04
3,LUCKNOW,P01042105074,C1,PS1,PHONE,Gambling,Play Cards,01-04-2021 13:10:00,26.828,81.002,2021-04-01 13:10:00,13:10:00,01/04/2021,04
4,LUCKNOW,P01042105152,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 13:18:00,26.834,81.033,2021-04-01 13:18:00,13:18:00,01/04/2021,04

In [8]:
# getting month of the crime from data
month = pd.to_datetime(df['Prop_date'],dayfirst=True).dt.strftime('%m')
month

0       04
1       04
2       04
3       04
4       04
        ..
5123    06
5124    06
5125    06
5126    06
5127    06
Name: Prop_date, Length: 5123, dtype: object

In [17]:
# creating a column to store the month and storing the details
df['month']=month
df.head()
# df.tail()

,District,Event,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude,day,Time,Prop_date,month
0,LUCKNOW,P01042100004,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,01-04-2021 00:00:00,26.834,81.008,2021-04-01 00:00:00,00:00:00,01/04/2021,04
1,LUCKNOW,P01042104316,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 12:09:00,26.828,81.014,2021-04-01 12:09:00,12:09:00,01/04/2021,04
2,LUCKNOW,P01042104847,C1,PS1,PHONE,Dispute,Dispute In Hospital,01-04-2021 12:51:00,26.840,81.009,2021-04-01 12:51:00,12:51:00,01/04/2021,04
3,LUCKNOW,P01042105074,C1,PS1,PHONE,Gambling,Play Cards,01-04-2021 13:10:00,26.828,81.002,2021-04-01 13:10:00,13:10:00,01/04/2021,04
4,LUCKNOW,P01042105152,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 13:18:00,26.834,81.033,2021-04-01 13:18:00,13:18:00,01/04/2021,04

In [ ]:
#Deleted few cells below this part, need you to use these new columns to make the graphs the same way as your old commit

In [ ]:
# BLANK cells(for reference)

In [ ]:
# BLANK cells

In [10]:
df_c = df.dropna()
df_c

,District,Event,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude,day,Time,Prop_date,month
0,LUCKNOW,P01042100004,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,01-04-2021 00:00:00,26.834,81.008,2021-04-01 00:00:00,00:00:00,01/04/2021,04
1,LUCKNOW,P01042104316,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 12:09:00,26.828,81.014,2021-04-01 12:09:00,12:09:00,01/04/2021,04
2,LUCKNOW,P01042104847,C1,PS1,PHONE,Dispute,Dispute In Hospital,01-04-2021 12:51:00,26.840,81.009,2021-04-01 12:51:00,12:51:00,01/04/2021,04
3,LUCKNOW,P01042105074,C1,PS1,PHONE,Gambling,Play Cards,01-04-2021 13:10:00,26.828,81.002,2021-04-01 13:10:00,13:10:00,01/04/2021,04
4,LUCKNOW,P01042105152,C1,PS1,PHONE,Threat In Person,Attack,01-04-2021 13:18:00,26.834,81.033,2021-04-01 13:18:00,13:18:00,01/04/2021,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5123,LUCKNOW,P30062111143,C2,PS4,PHONE,Dispute,With Neighbor,30-06-2021 17:59:54,26.866,81.026,2021-06-30 17:59:54,17:59:54,30/06/2021,06
5124,LUCKNOW,P30062111164,C2,PS4,PHONE,Dispute,Dispute Between Ride And Driver,30-06-2021 18:01:05,26.864,81.006,2021-06-30 18:01:05,18:01:05,30/06/2021,06
5125,LUCKNOW,P30062111341,C2,PS4,PHONE,Cyber Crimes,Bank Account Hacking,30-06-2021 18:10:59,26.864,80.998,2021-06-30 18:10:59,18:10:59,30/06/2021,06
5126,LUCKNOW,P30062111700,C2,PS4,PHONE,Robbery,On Road,30-06-2021 18:33:39,26.873,81.023,2021-06-30 18:33:39,18:33:39,30/06/2021,06
5127,LUCKNOW,P30062118243,C2,PS4,PHONE,Threat In Person,Threatening To Kill,30-06-2021 23:59:08,26.863,81.001,2021-06-30 23:59:08,23:59:08,30/06/2021,06

In [11]:
df2 = x.sort_values(by=['Event Type'])
df2

NameError: name 'x' is not defined

In [ ]:
count = df2.groupby(['Event Type']).count()
print(count)

In [ ]:
df_ = x.drop(columns=['Latitude', 'Longitude'])
df_

In [ ]:
count1 = df_.groupby(['Event Type']).count()
count1.rename(columns = {'Event Type':'Event type', 
                       'Create Date/Time':'No. of crimes'}, 
            inplace = True)
print(count1)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
s = count1.plot.bar(figsize=(20,8))
s;

In [ ]:
s2 = count1.plot.line(figsize=(20,8))
s2;

In [ ]:
count4 = x4.groupby(['Month']).count()
print(count4)

In [ ]:
import numpy as np

In [ ]:
print(x4.iloc[4769])

In [ ]:
count4.rename(columns = {'Month':'Month', 
                       'Event Type':'No. of crimes'}, 
            inplace = True)
print(count4)

In [ ]:
g = count4.plot.bar(figsize=(10,8))
g;

In [ ]:
count4.index = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
count4

In [ ]:
g2 = count4.plot.bar(figsize=(10,8))
g2;

In [ ]:
g3 = count4.plot.line(figsize=(10,8))
g3;

In [ ]:
g4 = count4.plot.pie(subplots=True, figsize=(15, 10))
g4;

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns

In [ ]:
plt.style.use('seaborn')
top_5_crimes = x3['Event Type'].value_counts().sort_values(ascending=False).head()
temp = x3.groupby('Event Type', as_index=False).agg({"Month": "count"})
temp = temp.sort_values(by=['Month'], ascending=False).head()
temp = temp.sort_values(by='Month', ascending=True)
sns.barplot(x='Month', y='Event Type', data=temp, palette="Blues_d")
plt.title("Top 5 Crimes in Lucknow", fontdict = {'fontsize': 30, 'fontname':'Arial', 'color': '#000000'})
plt.xlabel("\nCOUNT OF CRIMES", fontdict = {'fontsize': 15})
plt.ylabel("")
plt.xticks(rotation=90)
plt.show()

In [ ]:
def hour(x):
    return x.strftime("%H")
x3['Hour_Day'] = x3['Time'].apply(hour)

In [ ]:
test = x3.sort_values(by=['Hour_Day'])
test['Hour_Day']

In [ ]:
plt.style.use('seaborn-dark')
sns.set_context('paper')
fig, ax = plt.subplots(figsize=(10, 5))
sns.countplot(x='Hour_Day', data=test, palette="viridis")
plt.title("Crimes in Lucknow based on time", fontdict={'fontsize': 40, 'color': '#bb0e14','fontname':'Agency FB'}, weight="bold")
plt.xlabel("\nHour in the Day", fontdict={'fontsize': 15}, weight='bold')
plt.ylabel("Number of Crimes\n", fontdict={'fontsize': 15}, weight="bold")
plt.show()

In [ ]:
df