<a href="https://colab.research.google.com/github/PsyCharan17/Crime-Analysis/blob/main/GC_second_commit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
# from google.colab import drive
# drive.mount('/content/gdrive')
# # !ls /content/gdrive/MyDrive/data

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/PsyCharan17/Crime-Analysis/main/Crime%20data/P7.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  District         Event Circle  ...     Create Date/Time Latitude Longitude
0  LUCKNOW  P01042100004     C1  ...  01-04-2021 00:00:00   26.834    81.008
1  LUCKNOW  P01042104316     C1  ...  01-04-2021 12:09:00   26.828    81.014
2  LUCKNOW  P01042104847     C1  ...  01-04-2021 12:51:00   26.840    81.009
3  LUCKNOW  P01042105074     C1  ...  01-04-2021 13:10:00   26.828    81.002
4  LUCKNOW  P01042105152     C1  ...  01-04-2021 13:18:00   26.834    81.033

[5 rows x 10 columns]